.headerMobileConteiner{
  width: 100%;
  margin-bottom: 8px;
}

.topHeaderMobileConteiner {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.iconConteiner {
  display: flex;
  align-items: center;
}

.topHeaderMobileConteiner img {
  margin: 0 16px;
}

.hearderMobileTitle {
  font-family: "Roboto";
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #0f1e7b;
}

.menuTitle {
  margin-left: 27px;
  margin-top: 13px;
}

.inputConteiner {
  display: flex;
  margin: 0 16px 8px;
  height: 40px;
  border: 1px solid #bababa;
  border-radius: 48px;
  align-items: center;
}



.inputConteiner input {
  width: 100%;
  height: 100%;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  padding-left: 20px;
}

.inputConteiner img {
  padding: 12px;
}

.menuMobile {
  display: flex;
  margin-top: 12px;
  margin-left: 27px;
  padding-bottom: 12px;
  border-bottom: 0.65px solid #000000;
  margin-right: 33px;
  align-items: center;
}

.menuMobile:last-child {
  border-bottom: 0;
}

.menuMobile a {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: #5e5e5e;
}

.crossMenu {
  display: flex;
  margin-top: 13px;
  margin-right: 14px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
}

.menuHeader {
  display: flex;
  border-bottom: 1px solid #000000;
  height: 81px;
  justify-content: space-between;
}

.icon {
  width: 16px;
  height: 16px;
}
